@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(footer.css);
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
body {
  background-image: url("https://alumni.columbia.edu/sites/dev.alumni.columbia.edu/files/images/debut_light.png");
  margin: auto;
  width: 90%;
  font-family: "Josefin Slab", "Trebuchet MS", sans;
  font-size: 100%;
}
ul {
    padding:0;
}
ul.gallery li {
  display: inline-block;
  opacity:1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  width: 30%;
  margin: 0 3% 5px 0;
}
p {
  font-size: 1.6em;
}
p a {
  color: #096;
  text-decoration: none;
  border-bottom: solid 1px transparent;
}
p a:hover,
p a:focus {
  border-bottom-color: #096;
}
ul.gallery li:nth-child(3n+3) {
  margin-right: 0;
}
label {
  cursor: pointer;
  background: #323131;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.6em;
}
label:hover {
  color: #096;
}
input {
  display: none;
}
img {
  padding: 5px;
  border: 1px solid #ccc;
  max-width: 100%;

}
/*Select Categories*/	
input#select-personal:checked ~ .gallery li:not(.personal-item),
input#select-wfh:checked ~ .gallery li:not(.wfh-item) {
  opacity: 0.1;
}
input:checked + label {
  color: #096;
}

li {
  position: relative;
}
li p {
  color: #096;
  background-color: rgba(255,255,255, 0.7);
  display: none;
  margin-top: 0;
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  width: 97%;
}
li:hover img {
  border-color: #999;
}
li:hover p {
  display: block;
}